body
{
    background-color:white;
    font-size: 15px;
}
.t
{
    margin-left : 50 px;
    display:flex ;
}
.u
{
    font-size: 25px;
}
.t{
    height:50px;
    background-color:black ;
}
.y
{
    font-family: cursive;
}
.q
{
    background-color: black;
}
.n
{
    background-color: navy;
}